body {
  background-color: #1d1f23;
  display: flex;
  justify-content: center;
}

.homepage-container {
  width: 1000px;
  height: 100vh;
  background-color: #18191d;
  display: flex;
  flex-direction: column;
}

.content-container {
  width: 100%;
  height: 80%;
  padding: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  height: min-content
}

.selfie {
  width: 350px;
  height: 350px;
  border-radius: 30px;
  border: 10px solid rgb(85, 104, 130);
}

.about-me {
  color: white;
  width: 400px;
  height: 300px;
  margin-top: 20px;
}

h2 {
  color: rgb(123, 149, 187)
}

.ext-links-container {
  width: 300px;
  height: 80px;
  margin-top: 50px;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.ext-link {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
}

.ext-link img {
  width: 65px;
  height: 65px;
}


.ext-link:hover {
  background-color: rgb(123, 149, 187);
}

.waving-hand {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 4s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }

}